nav{
    display: flex !important;
    background-color: aqua;
    padding: 10px;
    width: inherit;
}

.logo{
    margin-right: auto;
    cursor: pointer;
}
.logo h3{
    margin: 0px;
    font-family: 'Jura';
    font-size: xx-large;
}
.logo h3 span{
    font-weight: 700;
    font-family: fantasy;
}
.login-btn{
    
    width: fit-content;
    padding: 6px;
    place-self: center;
    height: max-content;
    max-height: 42px;
    line-height: 0px;
}

.logo h3:hover{
    text-shadow: 0px 0px 8px #000000;
}

.light-dark-btn{
    line-height: 0;
    height: fit-content;
    align-self: center;
    padding: 2px;
    margin-right: 1vw;
    color: black;
    cursor: pointer;
}

.light-dark-btn:hover {
    border-radius: 10px;
    background-color: #5f9ea069;
}


@media only screen 
    and (max-device-width : 620px) 
    and (orientation : portrait) 
    and (-webkit-min-device-pixel-ratio : 2)
{
    .login-text{
        display: none;
    }
}
